/* 공통 스타일 */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%; /* 높이를 브라우저 뷰포트에 맞춤 */
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column; /* Flex 항목을 세로로 쌓음 */
}



/* Header and Navigation Styles */
header{
    width: 100%;
}
.nav-container {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: relative;
}

.nav-inner {
    width: 95%; /* 변경 */
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.department-name, .menu-item, .account-action {
    color: #36384E;
    font-family: Poppins;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
}

.department-name {
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px; /* 간격 추가 */
}

.menu-container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.menu-item {
    font-size: 16px;
    margin-right: 20px; /* 간격 추가 */
}

.account-container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.account-action {
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px; /* 간격 추가 */
}

.signup-button {
    width: 117px;
    height: 42px;
    position: relative;
    background: #2F65DD;
}

.signup-text {
    left: 27.75px;
    top: 11px;
    position: absolute;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}





/* footer */
footer {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .footer-logo img {
    width: 50px; /* Adjust as necessary */
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
  }
  
  .footer-links a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-info p {
    margin: 5px 0;
  }
  
  .footer-copy {
    margin-top: 5px; /* Add space above the copyright text */
    width: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

