/* 공통 스타일 */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}
.board{
    display: flex;
    flex-direction: row;
}


/* 왼쪽 사이드바 */ 
.sidebar {
        flex: 0 0 190px; /* flex-grow, flex-shrink, flex-basis */

    width: 190px;
    position: sticky;
    top: 100px; /* 스크롤 시 상단에서 100px 위치에 고정 */
    bottom: 70px; /* 스크롤 시 하단에서 70px 위치에 고정 */
    overflow-y: auto;
    padding: 0;
    background-color: #7a9ade;
}


.sidebar ul {
    list-style: none; /* 리스트 마커 없애기 */
    padding: 0; /* 내부 여백 제거 */
    
}

.sidebar a {
    display: block; /* 링크를 블록 레벨 요소로 만들어 버튼처럼 보이게 함 */
    padding: 10px; /* 버튼 패딩 조절 */
    background-color: #7a9ade; /* 배경색 지정 */
    color: #fff; /* 텍스트 색상 지정 */
    text-decoration: none; /* 밑줄 제거 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.sidebar a:hover {
    background-color: #1A45A3; /* 마우스 호버 시 배경색 변경 */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.notice-type {
    color: red;
}

.pagination {
    text-align: center;
    padding: 10px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

/* Header and Navigation Styles */
header {
    width: 100%;
    background-color: #f5f5f5; /* 헤더 배경색 설정 */
    /* 추가적인 헤더 스타일링 */
}

.nav-container {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: relative;
}

.nav-inner {
    width: 95%; /* 변경 */
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.department-name, .menu-item, .account-action {
    color: #36384E;
    font-family: Poppins;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
}

.department-name {
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px; /* 간격 추가 */
}

.menu-container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.menu-item {
    font-size: 16px;
    margin-right: 20px; /* 간격 추가 */
}

.account-container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.account-action {
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px; /* 간격 추가 */
}

.signup-button {
    width: 117px;
    height: 42px;
    position: relative;
    background: #2F65DD;
}

.signup-text {
    left: 27.75px;
    top: 11px;
    position: absolute;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

/* footer */
footer {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background-color: #f5f5f5; /* 푸터 배경색 설정 */
    /* 추가적인 푸터 스타일링 */
  }

  
  .footer-logo img {
    width: 50px; /* Adjust as necessary */
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
  }
  
  .footer-links a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-info p {
    margin: 5px 0;
  }
  
  .footer-copy {
    margin-top: 5px; /* Add space above the copyright text */
    width: 100%;
  }
  
  .footer-top {
    padding-top: 10px;
  }
  
  .footer-top a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .footer-top a:hover {
    background-color: #555;
  }
  
/* 보드 영역 */
.board_wrap {
    padding: 20px; /* Padding to prevent content from touching the edges */
    background-color: #fff; /* 메인 컨텐츠 배경색 설정 */
    flex-grow: 1;

    overflow-y: auto; /* Allow scrolling of the main content */

}

/* 보드 시작 */ 
.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 1.5rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 0.7rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 0.5rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 0.7rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}
