
  
.board{
  display: flex;
  flex-direction: row;
}


/* Board Styles */
.board_wrap {
  width: 1300;
  margin: 100px auto;
  font-size: 16px; /* 폰트 크기를 16px로 변경 */
}

.board_title {
  margin-bottom: 30px;
}

.board_title strong {
  font-size: 16px; /* 폰트 크기를 16px로 변경 */
}

.board_title p {
  margin-top: 5px;
  font-size: 22px; /* 폰트 크기를 22px로 변경 */
}

.bt_wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.bt_wrap a {
  display: inline-block;
  min-width: 8rem;
  margin-left: 1rem;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 16px; /* 폰트 크기를 16px로 변경 */
}

.bt_wrap a:first-child {
  margin-left: 0;
}

.bt_wrap a.on {
  background: #000;
  color: #fff;
  font-size: 16px; /* 폰트 크기를 16px로 변경 */
}

.board_list {
  width: 100%;
  border-top: 2px solid #000;
}

.board_list > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
}

.board_list > div.top {
  border-bottom: 1px solid #999;
}

.board_list > div:last-child {
  border-bottom: 1px solid #000;
}

.board_list > div > div {
  display: inline-block;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 16px; /* 폰트 크기를 16px로 변경 */
}

.board_list > div.top > div {
  font-weight: 600;
}

.board_list .num {
  width: 10%;
}

.board_list .title {
  width: 50%;
  text-align: left;
}

.board_list .top .title {
  text-align: center;
}

.board_list .writer {
  width: 10%;
}

.board_list .date {
  width: 10%;
}
.board_list .category {
  width: 10%;
}

/* footer */
footer {
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  text-align: center;
  width: 100%;
  background-color: #f5f5f5;
  
  /* 추가적인 푸터 스타일링 */
}


.footer-logo img {
  width: 50px; /* Adjust as necessary */
}

.footer-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-info p {
  margin: 5px 0;
}

.footer-copy {
  margin-top: 5px; /* Add space above the copyright text */
  width: 100%;
}

.footer-top {
  padding-top: 10px;
}

.footer-top a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.footer-top a:hover {
  background-color: #555;
}

/* 검색 폼 컨테이너 스타일 */
.search-form-container {
  background-color: #f7f7f7;
  padding: 10px;
  text-align: center;
}

/* 검색 입력 요소 스타일 */
.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 검색 선택 상자 스타일 */
#srchColumn {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* 검색어 입력란 스타일 */
#srchWrd {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* 검색 버튼 스타일 */
button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}