body {
  font-family: sans-serif;
}

.tagInput {
  position: relative;
  border-style: none;
  border: 1px solid #3f3f3f;
  border-radius: 5px;
  display: block;
  flex: 1 1 auto;
  margin: 5px;
  min-height: 100%;
  font-size: 12pt;
}

.tagInputWrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.tagInputWrapper:focus {
  outline: blue;
}

.tagsList li {
  font-size: 11pt;
  display: inline-block;
  margin: 3px;
  padding: 3px 5px 3px 5px;
  border-radius: 4px;
  background: #ddd;
  color: #444;
}

.tagsList li.clickable:hover {
  background: #aaa;
  cursor: pointer;
  color: black;
}

.tagsList li a {
  text-decoration: none;
  color: #666;
  margin-left: 5px;
}

.tagsList li a:hover {
  color: #dd3345;
}




