/* 공통 스타일 */


.main-content {
  width: 100%; /* 화면 전체 너비를 사용합니다. */
  padding: 0; /* 내부 여백을 제거합니다. */
  margin: 0 auto; /* 수평 중앙에 위치하도록 설정합니다. */
  text-align: center;
}


.banner img {
  width: 100%; /* Make the image responsive to the width of its container */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Optional: ensures the image doesn't exceed its original size */
  margin-bottom: 200px; /* 아래 여백을 추가합니다. 필요한 만큼 조정할 수 있습니다. */
  margin-top : 100px;

}
.map-container {
  width: 70%; /* or whatever width you prefer */

}

.location-details {
  width: 30%; /* or whatever width complements the map's width */
  float: right; /* aligns the details to the right */
  /* Add additional styling such as padding, font, etc. */
}




/* footer */
footer {
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  text-align: center;
  width: 100%;
  background-color: #f5f5f5;
  
}

.footer-logo img {
  width: 50px; /* Adjust as necessary */
}

.footer-links {
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-info p {
  margin: 5px 0;
}

.footer-copy {
  margin-top: 5px; /* Add space above the copyright text */
  width: 100%;
}

.footer-top {
  padding-top: 10px;
}

.footer-top a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.footer-top a:hover {
  background-color: #555;
}
