body {
    font-family: Poppins;
  }
  
  .hr-line {
    border-top: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(90deg, White, DimGrey, White) border-box;
  }
  
  h3 {
    color: #454646;
  }
  
  .card {
    min-width: 260px;
    height: 100%;
    border-radius: 15px !important; 
    box-shadow: 0 15px 15px LightGrey;
    background-color: #f8f8f8 !important;
    border: 1px solid LightGrey !important;
  }
  
  .row {
    justify-content: center; 
    align-items: center;
  }
  
  .lottie_container {
    width: 240px; 
    cursor: pointer;
  }
  
  .ratio-fix {
    aspect-ratio: 1 / 1;
  }
  
  .lottie-info {
    color: #9b9b9b; 
  }
  
  .card-body {
    min-width: 180px;
  }
  
  .card-text {
    font-weight: 200;
    min-width: 200px;
  }

  
  #Lottie_2 {
    transform: scale(1.2);
  }
  
  #Lottie_3 {
    transform: scale(1.25);
  }
  