.navbar {
    position: absolute; 
    width: 100%;
    z-index: 1000; /* 다른 요소들보다 위에 표시되도록 설정 */
  }
/* 사이드바 스타일 */
.sidebar {
    width: 20%; /* 사이드바 너비 설정 */
    float: left; /* 왼쪽으로 부유(floating) */
    background-color: #333; /* 사이드바 배경색 */
    color: #fff; /* 사이드바 텍스트 색상 */
  }
  .main-contents {
    width: 80%; /* 메인 컨텐츠 너비 설정 */
    float: left; /* 왼쪽으로 부유(floating) */
    box-sizing: border-box; /* 내용 및 여백 포함하는 상자 크기 설정 */
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    align-items: center; /* 중앙 정렬 */
    flex-grow: 1; /* 나머지 공간을 모두 차지하도록 함 */
    padding: 20px; /* 적절한 패딩을 제공 */
    overflow-y: auto; /* 필요한 경우 스크롤 허용 */
  }


/* footer */
footer {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background-color: #f5f5f5; /* 푸터 배경색 설정 */
    /* 추가적인 푸터 스타일링 */
  }

  
  .footer-logo img {
    width: 50px; /* Adjust as necessary */
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
  }
  
  .footer-links a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-info p {
    margin: 5px 0;
  }
  
  .footer-copy {
    margin-top: 5px; /* Add space above the copyright text */
    width: 100%;
  }
  
  .footer-top {
    padding-top: 10px;
  }
  
  .footer-top a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .footer-top a:hover {
    background-color: #555;
  }
  