/* 공통 스타일 */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header and Navigation Styles */
header {
    width: 100%;
    background-color: #f5f5f5; /* 헤더 배경색 설정 */
}

.nav-container {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: relative;
}

.nav-inner {
    width: 95%; /* 변경 */
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.department-name, .menu-item, .account-action {
    color: #36384E;
    font-family: Poppins;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
}

.department-name {
    font-size: 2.4rem; /* 폰트 크기 조정 */
    font-weight: 700;
    margin-right: 2rem; /* 간격 추가 */
}

.menu-container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.menu-item {
    font-size: 1.6rem; /* 폰트 크기 조정 */
    margin-right: 2rem; /* 간격 추가 */
}

.account-container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.account-action {
    font-size: 1.6rem; /* 폰트 크기 조정 */
    font-weight: 600;
    margin-right: 2rem; /* 간격 추가 */
}

.signup-button {
    width: 11.7rem; /* 버튼 너비 조정 */
    height: 4.2rem; /* 버튼 높이 조정 */
    position: relative;
    background: #2F65DD;
}

.signup-text {
    left: 2.775rem; /* 텍스트 위치 조정 */
    top: 1.1rem; /* 텍스트 위치 조정 */
    position: absolute;
    color: #F5F5F5;
    font-size: 1.6rem; /* 폰트 크기 조정 */
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}
  /* Navbar links on hover */
  .navbar-nav .nav-item .nav-link:hover {
    color: #2F65DD; /* 마우스 오버 시 텍스트 색상 변경 */
    font-weight: bold; /* 마우스 오버 시 폰트 굵게 */
    /* 다른 스타일 변경 가능 */
  }
  
  /* Signup button on hover */
  .signup-button:hover {
    background-color: #2F65DD; /* 마우스 오버 시 배경색 변경 */
    /* 다른 스타일 변경 가능 */
  }
  
/* footer */
footer {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background-color: #f5f5f5; /* 푸터 배경색 설정 */
    /* 추가적인 푸터 스타일링 */
  }

  
  .footer-logo img {
    width: 50px; /* Adjust as necessary */
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
  }
  
  .footer-links a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-info p {
    margin: 5px 0;
  }
  
  .footer-copy {
    margin-top: 5px; /* Add space above the copyright text */
    width: 100%;
  }
  
  .footer-top {
    padding-top: 10px;
  }
  
  .footer-top a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .footer-top a:hover {
    background-color: #555;
  }

/* Board Styles */
.board_wrap {
    width: 1000px;
    margin: 100px auto;
    font-size: 16px; /* 폰트 크기를 16px로 변경 */
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 16px; /* 폰트 크기를 16px로 변경 */
}

.board_title p {
    margin-top: 5px;
    font-size: 22px; /* 폰트 크기를 22px로 변경 */
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 8rem;
    margin-left: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 16px; /* 폰트 크기를 16px로 변경 */
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
    font-size: 16px; /* 폰트 크기를 16px로 변경 */
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 16px; /* 폰트 크기를 16px로 변경 */
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}
